:root {
  --text-color-dark: #7e7a7a;
  --text-color-light: 
}

body {
  margin: 0;
  background-color: #808080;
  height: 100vh;
}

.contents { 
  padding: 50px 0px;
  display: flex;
  background-color: #80808052;
}

.background{
  display: flex;
  flex-direction: column;
  background-blend-mode: color-burn;
  background: url("./assets/img/background.jpg") #a09f9f29;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  box-shadow: inset 0px 10px 48px 36px rgba(126, 126 , 126, 1);
}

.heading{
  margin: 50px auto 0px auto;
  color: #d7d7d7c7;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  transform: rotate(-90deg) translateX(-250px);
}

.box{
  border: 2px #585858 solid;
  background-color: rgba(200 200 200, 0.2);
  margin: 10px;
} 

.oscilloscope{
  grid-column-start: 1;
  grid-column-end: 3;
  height: 150px;
}

.x-y-controls{
  cursor:grabbing; 
  width: 250px;
  height: 160px;
}

.output-control{ 
  display: flex;
  justify-content: center;
  width: 240px;
  height: 150px;
  padding: 5px;
}

.gain-label{
  color: #cfcfcf;
}

.container{
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 50px;
}

.plugin{
  height: 500px;
  padding: 20px;
  background-color: #80808030;
  backdrop-filter: blur(2px);
  border: 2px #80808042 solid;
  background-size: 50px 10px;
  background-blend-mode: hard-light;
  background-repeat: repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.gain{
  font-family: monospace;
}

input[type="range"] {
  position: absolute;
  transform: rotate(270deg) translateX(-75px) translateY(-50px);
}

.play-pause-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#play-pause{
  display: block;
  font-family: monospace;
}

